.DS_Store
node_modules/
lib/

# no compiled files
bin/root.js
bin/root.js.map
utils/functions.js
utils/functions.js.map

package-lock.json
yarn-error*

# yarn2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
